body {
  background-color: aquamarine;
}

.whole-page {
  text-align: center;
  background-color: blueviolet;
  width: 90%;
  margin: auto;
  padding: 10px;
}

.line-1 {
  background-color: cadetblue;
  display: flex;
  width: 75%;
  justify-content: center;
}

.form-info * {
  padding: 10px;
}

.table-info {
  margin: 0 auto;
}

.employee-info * {
  padding: 5px;
}
